# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [14]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]],
                  index = ['2013-01-01','2013-01-02','2013-01-03','2013-01-04','2013-01-05'],
                  columns =['A','B','C'])

print(df)
print(' ')
print(df.loc[ '2013-01-01', 'A'] )
print(' ')
print(df.loc[ '2013-01-01', ['A', 'B'] ])
print(' ')
print(df.loc[ '2013-01-01':'2013-01-02', 'A' ]) 
print(' ')
print(df.loc[ '2013-01-01':'2013-01-05', 'A':'C'])

             A   B   C
2013-01-01   1   2   3
2013-01-02   4   5   6
2013-01-03   7   8   9
2013-01-04  10  11  12
2013-01-05  13  14  15

1

A    1
B    2
Name: 2013-01-01, dtype: int64

2013-01-01    1
2013-01-02    4
Name: A, dtype: int64

             A   B   C
2013-01-01   1   2   3
2013-01-02   4   5   6
2013-01-03   7   8   9
2013-01-04  10  11  12
2013-01-05  13  14  15

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [42]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print(' ')

print(df[0:3])
print(' ')

print(df.loc[[1,3,5]])
print(' ')

print(df[df.columns[-2:]])
print(' ')

print(df[['col2']])

       col1      col2      col3
0  0.493786  0.932046 -0.934754
1 -1.455392 -0.365809  0.434360
2  2.183681  2.005165 -1.011234
3  0.205797 -0.996167 -0.230265
4 -0.236112 -0.620108  0.296280
5  0.033261  2.179031  1.176499

       col1      col2      col3
0  0.493786  0.932046 -0.934754
1 -1.455392 -0.365809  0.434360
2  2.183681  2.005165 -1.011234

       col1      col2      col3
1 -1.455392 -0.365809  0.434360
3  0.205797 -0.996167 -0.230265
5  0.033261  2.179031  1.176499

       col2      col3
0  0.932046 -0.934754
1 -0.365809  0.434360
2  2.005165 -1.011234
3 -0.996167 -0.230265
4 -0.620108  0.296280
5  2.179031  1.176499

       col2
0  0.932046
1 -0.365809
2  2.005165
3 -0.996167
4 -0.620108
5  2.179031

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [50]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)
print(' ')

print(df[df[0]>20]) # filtered by first column > 2
print(' ')

print(df[df[0]+df[1]>50])  # filtered by first column + second column > 50
print(' ')

print(df[(df.iloc[:,0] < 30) | (df.iloc[:,1] > 30)])   # filtered by first column < 30 or second column > 3
print(' ')

print(df[df.sum(axis = 1)>100])

     0   1   2   3
0   16  31  26  38
1   34  10  22  32
2   30  21  13  19
3   11  24  24  29
4   38  15  23  25
5   18  12  14  20
6   26  12  19  16
7   19  12  39  23
8   22  26  29  20
9   12  15  37  33
10  33  13  31  23
11  24  33  25  15
12  17  32  22  11
13  15  32  26  25
14  39  20  18  20

     0   1   2   3
1   34  10  22  32
2   30  21  13  19
4   38  15  23  25
6   26  12  19  16
8   22  26  29  20
10  33  13  31  23
11  24  33  25  15
14  39  20  18  20

     0   1   2   3
2   30  21  13  19
4   38  15  23  25
11  24  33  25  15
14  39  20  18  20

     0   1   2   3
0   16  31  26  38
3   11  24  24  29
5   18  12  14  20
6   26  12  19  16
7   19  12  39  23
8   22  26  29  20
9   12  15  37  33
11  24  33  25  15
12  17  32  22  11
13  15  32  26  25

    0   1   2   3
0  16  31  26  38
4  38  15  23  25