# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [14]:
import pandas as pd
a = pd.Series([30,21])         
print(a)               # Series是直條狀
print(' ')

b = pd.DataFrame([['Apples','Bananas'],[30, 21]],columns = [' ',' '])     
print(b)
print(' ')            # 費工

s = pd.DataFrame([[35,21],[41,34]],index = ['2017 sales', '2018 sales'],columns = ['Apples','Bananas'])
print(s)

0    30
1    21
dtype: int64


0  Apples  Bananas
1      30       21

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

In [21]:
# 先列再用DataFrame

a = {"Apples":[30],
     "Bananas":[21]
    }
df = pd.DataFrame(a)


sales = {"Apples":[35,41],
         "Bananas":[21,34]
        }
df2 = pd.DataFrame(sales, index = ['2017 Sales','2018 Sales'])

print(df)
print(df2)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [20]:
import pandas as pd
a = pd.DataFrame([['Austin', 139,'Sun'],['Dallas',237,'Sun'],['Austin',139,'Mon'],['Dallas',456,'Mon']],columns = ['city','visitor','weekday'])
print(a)       

print(a['weekday'],a['visitor'])  # 無法合併

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon
0    Sun
1    Sun
2    Mon
3    Mon
Name: weekday, dtype: object 0    139
1    237
2    139
3    456
Name: visitor, dtype: int64

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [32]:
import pandas as pd
traveler = {"city":["Austin","Dallas","Austin","Dallas"],
            "visitor":[139,237,326,456],
            "weekday":["Sun","Sun","Mon","Mon"]
           }
df = pd.DataFrame(traveler)
print(df)
print(' ')

print(df.groupby("weekday").mean("visitor"))
print(' ')

print(df.groupby('city').sum( 'visitor'))

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

         visitor
weekday
Mon          391
Sun          188

        visitor
city
Austin      465
Dallas      693